

.task_done { 
  width: 250px;
  white-space: break-spaces;
  overflow-wrap: break-word;
  text-decoration: line-through;
  opacity: 0.7;
}

.task {
  width: 250px;
  white-space: break-spaces;
  overflow-wrap: break-word;
  font-weight: 700;
}

.active_btn {
  color: rgb(202, 82, 82);
  padding: 3px;
  background-color: aqua;
  border: none;
  border-radius: 3px;


}

.error {
  margin-right: 10px;
  border: 2px solid red;
  color: rgb(206, 45, 34)

}


.addItemForm {
  display: flex;
  align-items:flex-end;
}